@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text: #fff;
  --background: #18171c;
  --primary: #6e95aa;
  --secondary: #9abdd0;
  --accent: rgb(133, 110, 238);
  --cvtitle: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}

html,
body {
  background-color: var(--background);
  font-family: "poppins", ui-sans-serif;
}
