@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text: #060606;
  --background: #f9fafb;
  --primary: #6e95aa;
  --secondary: #9abdd0;
  --accent: #6eabcb;
}
